<div class="the-content">
  <h1>Binaries</h1>
  <p>
    <b><i>Binaries</i></b> is a sculptural collaboration by Linda Melvin Graham and S. Fletcher Graham exploring the paradox of human destruction and advancements. The work expresses the concerns about our current destructive treatment of the planet, and the hopes that advancements in many ﬁelds of science and technology will help us overcome many of these difﬁculties and understand more about ourselves and our place in the cosmos.
  </p>
  <p>
    This exhibit has three areas of focus, each representing some aspect of this paradox. The colors used in the abstract acrylic objects hanging overhead in the gallery change from somber blacks, blues and purples to more optimistic greens, reds and yellows, as the viewer moves from "Dystopia " representing the grim reality of our dystopian future, to "Resilience" an acrylic depiction of the geological timeline with the 5 previous extinctions plus the one we may be experiencing currently, to the back of the gallery where "Transition" represents a more hopeful future of Homo sapiens as we move toward an intergalactic experience and continue to adapt to the realities of a sustainable existence on the earth.
  </p>
</div>
