<div class="the-content">
	<h1>Electromagnetic Transformation</h1>
	<p>Ice Cube Gallery</p>
	<p>Denver, CO</p>
	<p>2013</p>
	<p>The pieces of Electromagnetic Transformations explore the fascinating properties of plexiglass when exposed to various light wave lengths. In Multiverse 3, a projection cast onto a bent sheet of yellow plexiglass creates the illusion of three dimensions and shows a change in the wave length when light travels across the curved surface. In Illusive Reality, the fluorescent edges are highlighted when exposed to ultraviolet light that can’t be seen until the wave length is reduced to the visible range when a photon is released. The almost transparent plexiglass panels reflect and transmit light to create a complexity of images. Evolving Multiverses plays with the nearly invisible panel of plexiglass viewed straight on but with enhanced visual interest in the glowing fluorescent edges.</p>
	<p>The advancement of the technology of telescopes and measuring instruments, using different wave lengths to highlight different components, has led to an explosion of information about what the cosmos contains. And what I find in the work I have been making lately is a representation of what I have been pondering: wormholes, multiverses, alternative realities, etc.</p>
	<p>
		<a href="https://vimeo.com/73148310" target="_blank">Click to watch the Multiverse 3 video</a>
	</p>
</div>