<div class="the-content">
	<h1>Multiverse 3</h1>
	<p>Rude Gallery</p>
	<p>Rocky Mountain College of Art + Design</p>
	<p>Denver, CO</p>
	<p>2013</p>
	<p>Linda Graham’s work has shifted from a focus on sculptural clay work to new media installations that take on a host of materials from projection to plexiglass. These media installations engage with concepts of the microcosm to the macrocosm, from cellular structure to interstellar elements.</p>
	<p>Multiverse 3 is a projection piece that radically transforms the Rude Gallery into an ungrounded interface, redrafting the room’s environments features.</p>
	<p>Cortney Stell</p>
</div>