<div class="the-content">
	<h1>Natural Selection</h1>
	<p>in the “Shows Promise” window gallery</p>
	<p>Denver International Airport</p>
	<p>2010</p>
	<p>“The spiral forms bring to mind the morning glory vines, swirling galaxies, hurricanes seen from outer space, molecular structures, and most growing thing that bend and sway in the forest, from the smallest to the largest elements of this world. They are products of my mind, composites of lots of looking at hairy, feathery plants the grow in streams, pods that fall at the end of the growing season, geometric solids and geological layering of many western landscapes” Linda Graham</p>
</div>