<div class="the-content">
  <h1>PERSONAL PERCEPTIONS BY LINDA GRAHAM</h1>
  <p>
    <b><i>“Personal Perceptions”</i></b>
  </p>
  <p>
    The exhibit showing at Hinterland, November 13 - December 5, is an installation using acrylic sheets, projected light and a darkened space.
  </p>
  <p>
    An animated SketchUp generated video cast onto a bent sheet of yellow acrylic sheet creates the illusion of three dimensions and shows a change in the wave length when light travels across the curved surface. With the addition of green bent acrylic sheet panels in front, the mystery of light and color is enhanced. The interaction of these items creates a mysterious 3-D effect. The mind is free to experience a multitude of ideas.
  </p>
  <p>
    This <a href="http://vimeo.com/55652162">video</a> shows a simpliﬁed version previously shown at Rude Gallery on the RMCAD campus.
  </p>
  <hr>
  <h4>Westword review of Personal Perceptions</h4>
  <h2>Light in the Darkness</h2>
  <p>
    Is the Key to Linda Graham's vaporous Installation at Hinterland
  </p>
  <p>
    In the impressive Linda Graham: Personal Perceptions at Hinterland, the artist has designed a set of curved walls in clear acrylic sheeting that are set up in the darkened room. Some of the acrylic has a yellow cast, some of it green. 
  </p>
  <p>
    A video projector using an altered 3-D design program, SketchUp, projects nonobjective shapes against and through the acrylic sheets. These projected shapes are in constant movement, and as they run across the curved surfaces of the acrylic, they change, and as they cross the different colors, the light itself changes.
  </p>
  <p>
    Interestingly, it's visually substantial, but pretty insubstantial from a physical standpoint.
  </p>
  <p>
    Michael Paglia<br>December 2, 2014
  </p>
</div>
